/* Footer Frame */
.footer-container {
  display: flex;
  background-color: var(--background-color);
  justify-content: center;
  gap: 1em;
  align-content: center;
  height: 100%;
  box-sizing: border-box;
}

.footer-card {
  display: flex;
  align-items: center;
  font-family: "Rambla";
  flex-direction: column;
}

.sidebar-trademark {
  width: 170px;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
}
