/* Media Queries */
@media screen and (max-width: 1023px) {
  .logo-area {
    justify-content: start;
  }
}

@media screen and (min-width: 1024px) {
  .logo-area {
    margin: auto 1.5rem auto 1rem;
    justify-content: center;
  }
}

/* Navigation Bar Body */
.navbar-container {
  display: flex;
  justify-content: flex-start;
  background-color: var(--background-color);
  height: 6em;
  width: 100vw;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  align-items: start;
  padding: 0px 1em;
  margin: auto;
  box-sizing: border-box;
}

/* Logo with Web Name */
.logo-area {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 16px;
  transition: all 0.3s ease-in-out;
}

.logo-area img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.logo-area a {
  color: var(--text-color);
  text-decoration: none;
  text-align: center;
  font-family: Rambla;
  font-size: 1.8125rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.logo-area:hover {
  transform: scale(1.05);
}

.nav-tabs {
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  margin: auto auto auto 0;
}

.nav-tabs a {
  text-decoration: none;
  color: var(--text-color);
  text-align: center;
  font-family: "Source Serif 4";
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.1rem;
}

.nav-action-buttons {
  display: flex;
  align-items: center;
  margin: auto 1rem auto auto;
  gap: 1rem;
}

.nav-action-buttons > button,
.nav-action-buttons > div {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}
