/* Sidebar Container */
.left-sidebar {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  height: 100vh;
  width: var(--sidebar-width);
  transition-duration: 0.5s;
}

/* Sidebar Frame */
.left-container {
  flex-direction: column;
  width: var(--sidebar-width);
  height: 100%;
  justify-content: start;
  overflow-y: auto;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.top-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  gap: 1rem;
}

.logo-sidebar {
  font-family: "Rambla";
  margin-top: auto;
  color: var(--text-color);
  background-color: var(--logo-background-color);
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
  height: 5em;
  width: 100%;
  padding: 1.5rem;
  gap: 8px;
}

.logo-sidebar img {
  width: 60px;
  height: auto;
}

.logo-sidebar a {
  text-decoration: none;
  font-family: "Rambla";
  font-weight: bold;
  color: var(--text-color-Dark);
}

.account-panel {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 6rem;
  flex-direction: row;
  gap: 1rem;
}

.account-hero {
  width: 3rem;
  margin-left: 1rem;
  height: 3rem;
}

.account-hero img {
  width: 3rem;
  height: 3rem;
}

.account-info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.middle-sidebar {
  width: 100%;
  padding: 0 1em;
  box-sizing: border-box;
}

.sidebar-options {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.sidebar-options > button {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.option-button {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  gap: 8px;
}

.option-button span {
  cursor: pointer;
}

.option-button label {
  cursor: pointer;
}

.itemCount {
  margin-left: auto;
  background-color: var(--accent-color);
  color: var(--text-color-Dark);
  padding: 4px;
  border-radius: 1rem;
  cursor: pointer;
}
