/* Root Components */
:root {
  --primary-color: #eae4d5;
  --secondary-color: #a19883;
  --accent-color: #85795f;
  --background-color: #b6b09f;
  --logo-background-color: #635942;
  --text-color: #000000;
  --text-color-Hover: #ffffff;
  --text-color-Dark: #ffffff;
  --text-color-Dark-Hover: #000000;
  --sidebar-width: 16em;
  --navbar-height: 6em;
}

::-webkit-scrollbar {
  display: none;
}

/* Page Structure */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Grid Structure */
.container {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: var(--navbar-height) 1fr auto;
  grid-template-areas:
    "sidebar navbar"
    "sidebar main"
    "sidebar footer";
  height: 100vh;
}

/* Navigation Bar */
navbar {
  grid-area: navbar;
}

/* Page Grid */
main {
  grid-area: main;
}

.left-sidebar {
  grid-area: sidebar;
}

/* Footer Grid */
footer {
  grid-area: footer;
}
