@media screen and (max-width: 1023px) {
  .container {
    border-radius: 4px;
  }

  .portal-panel {
    padding: 1em;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    border-radius: 20px;
  }

  .portal-panel {
    padding: 2em;
  }
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  min-width: 300px;
  width: 80%;
  padding: 10px;
  max-width: 800px;
  min-height: 40vh;
  box-sizing: border-box;
}

.search-header {
  width: 100%;
  text-align: center;
  font-family: "Rambla";
}

.search-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
}

.search-bar:focus-within {
  outline: 2px solid black;
  border-radius: 1rem;
}

.input-field {
  display: flex;
  background-color: white;
  border-radius: 1rem 0rem 0rem 1rem;
  flex-direction: column;
  height: 3rem;
  overflow: hidden;
}

.input-field input {
  min-width: 230px;
  width: 800px;
  border: 0;
  padding: 1rem;
  border-radius: 1rem 0rem 0rem 1rem;
}

.input-field label {
  position: relative;
  background-color: white;
  font-family: "Mate";
  width: fit-content;
  border-radius: 1rem;
  bottom: 2rem;
  left: 1rem;
  cursor: text;
}

.input-field input:focus {
  outline: none;
  border: 0;
}

.search-button {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  margin-left: auto;
  border-radius: 0rem 1rem 1rem 0rem;
}

#searchDocument:focus + label {
  font-size: 0.75rem;
  bottom: 2.90rem;
  pointer-events: none;
  transition: font-size 0.3s ease, bottom 0.3s ease;
}

#searchDocument + label {
  transition: font-size 0.3s ease, bottom 0.3s ease;
}
