<div class="logo-area">
  <img
    src="../assets/icons/Official_CSS_Logo.svg"
    alt="CSS Logo"
  />
  <a href="../index.html">Cascading Style Sheets</a>
</div>
<div class="main-panel-tabs">
  <a id="tab-button" href="../content-pages/portal.html">
    Portal Preview
  </a>
  <a id="tab-button" href="../content-pages/form.html">
    Forms
  </a>
  <a id="tab-button" href="../content-pages/features.html">
    Features
  </a>
  <a id="tab-button" href="../content-pages/gallery.html">
    Gallery
  </a>
  <a id="tab-button" href="../content-pages/about-css.html">
    About CSS
  </a>
</div>
<div class="sidebar-button" onclick="moveSidebar()" id="sidebarButton">
  <img src="../assets/icons/menu-icon.svg" alt="Sidebar" />
</div>