@media screen and (min-width: 320px) {
  #mainContainer {
    display: flex;
    background-color: var(--background-color);
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  .sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    height: fit-content;
    background-color: var(--primary-color);
    width: 100%;
    box-sizing: border-box;
  }

  .sub-container > p {
    color: var(--text-color);
    width: 80%;
    text-align: center;
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  /* Page Header */
  .home-header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0.5rem;
    align-items: center;
    min-height: 8rem;
    width: 100%;
    gap: 0.5rem;
    box-sizing: border-box;
  }

  .logo {
    width: 6rem;
    height: 6rem;
  }

  .logo img {
    width: 100%;
    height: 100%;
  }

  .page-name {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    box-sizing: border-box;
  }

  .page-name span {
    color: var(--text-color);
    font-family: "Montagu Slab";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  /* Search Bar */
  .search-bar {
    display: flex;
    margin-left: auto;
    min-width: 150px;
    width: 100%;

    box-sizing: border-box;
  }

  .search-bar > input[type="search"] {
    display: flex;
    border: none;
    border-radius: 0.5rem 0 0 0.5rem;
    width: 100%;
    padding: 0rem 0.5rem;
    box-sizing: border-box;
  }

  .search-bar > button {
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
  }

  /* Sector Selection */
  .home-options {
    display: flex;
    min-height: 55vh;
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    padding: 26px;
    border: 2px solid #000;
    background: rgba(255, 178, 0, 0.7);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .option-layer {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    background: rgba(235, 91, 0, 0.35);
    box-sizing: border-box;
  }

  .option-layer > a {
    text-decoration: none;
  }

  .sector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    height: 150px;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid #000;
    background: #eae4d5;
    padding: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .sector > img {
    width: 110px;
    height: 110px;
  }

  .sector > span {
    color: var(--text-color);
    text-align: center;
    font-family: "Source Serif 4";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

@media screen and (min-width: 768px) {
  #mainContainer {
    padding: 3.25rem;
  }

  .sub-container {
    padding: 3.25rem;
  }

  .sub-container > p {
    font-size: 30px;
  }

  .home-header {
    flex-direction: row;
  }

  .page-name {
    align-items: start;
    text-align: start;
    width: 200px;
  }

  .page-name span {
    color: var(--text-color);
    font-family: "Montagu Slab";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .search-bar {
    width: 200px;
  }

  .search-bar > input[type="search"] {
    border-radius: 1rem 0 0 1rem;
  }

  .search-bar > button {
    border-radius: 0 1rem 1rem 0;
  }

  .home-options {
    border-radius: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .page-name {
    width: 50%;
  }

  .page-name span {
    font-size: 2.125rem;
  }
}
