<div class="left-container">
  <div class="top-sidebar">
    <div class="logo-sidebar">
      <img src="../../assets/icons/logoipsum-300.svg" alt="Logo" />
      <a href="../../index.html">Document Tracking System</a>
    </div>
    <div class="account-panel">
      <div class="account-hero">
        <img src="../../assets/icons/logoipsum-300.svg" alt="" />
      </div>
      <div class="account-info">
        <span>Account Name</span>
        <span>Role</span>
      </div>
    </div>
  </div>
  <hr style="width: 95%" />
  <div class="middle-sidebar">
    <div class="sidebar-options">
      <h3>Modules</h3>
      <button>
        <div class="option-button">
          <span class="material-icons-round"> description </span>
          <label for="documents">Manage Documents</label>
          <span class="itemCount">#</span>
        </div>
      </button>
      <button>
        <div class="option-button">
          <span class="material-icons-round"> add </span>
          <label for="documents">Add Document</label>
          <span class="itemCount">#</span>
        </div>
      </button>
      <h3>Settings</h3>
      <button>
        <div class="option-button">
          <span class="material-icons-round"> manage_accounts </span>
          <label for="documents">Change Password</label>
        </div>
      </button>
      <button>
        <div class="option-button">
          <span class="material-icons-round"> logout </span>
          <label for="documents">Logout</label>
        </div>
      </button>
    </div>
  </div>
</div>
