<div class="right-container">
  <div class="top-sidebar">
    <div class="close-button">
      <a onclick="moveSidebar()">&times;</a>
    </div>
    <div class="sidepanel-tabs">
      <div class="surveyTabs">
        <a href="./healthForm.html" data-translate="Health Form">Health Form</a>
        <a href="./tourismForm.html" data-translate="Tourism Survey"
          >Tourism Survey</a
        >
      </div>
      <div class="recordTabs">
        <a href="./healthFormRecords.html" data-translate="Health Records"
          >Health Records</a
        >
        <a
          href="./tourismFormRecords.html"
          data-translate="Tourism Feedback Records"
          >Tourism Feedback Records</a
        >
      </div>
    </div>
  </div>
  <div class="bottom-sidebar">
    <div class="logo-sidebar">
      <div class="logo-section-1">
        <img
          src="#"
          alt="Logo"
        />
        <label for="logo-name" data-translate="City of Calamba"
          >Web Name</label
        >
      </div>
      <label class="trademark" data-translate="Developed - 2025"
        >Developed - 2025</label
      >
    </div>
  </div>
</div>
