@media screen and (min-width: 320px) {
  :root {
    --background-color: #f4f0e6;
    --primary-color: #fbb03b;
    --text-color: #000;
  }

  #mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    box-sizing: border-box;
  }

  .page-actions {
    display: flex;
    width: 100%;
    height: 2rem;
    box-sizing: border-box;
  }

  .back-button {
    display: flex;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    color: var(--text-color);
    width: fit-content;
    box-sizing: border-box;
  }

  .sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    min-height: 90vh;
    background-color: var(--primary-color);
    box-sizing: border-box;
  }

  .sector-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    border: 2px solid #000;
    border-radius: 10px;
    background: rgba(242, 242, 242, 0.85);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
  }

  .sector-logo {
    width: 60px;
    height: 60px;
  }

  .sector-logo img {
    width: 100%;
    height: 100%;
  }

  .sector-plate {
    display: flex;
    justify-content: center;
    padding: 1rem;
    border: 2px solid #000;
    border-radius: 10px;
    background: rgba(234, 228, 213, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
  }

  .sector-plate span {
    color: var(--text-color);
    font-family: "Montagu Slab", serif;
    font-weight: 600;
  }

  .sector-overview,
  .transaction-type-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
  }

  .sector-overview h1,
  .transaction-type-header h1 {
    color: var(--text-color);
    font-family: "Montagu Slab", serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
  }

  .sector-overview p,
  .transaction-type-header p {
    color: var(--text-color);
    font-family: "Source Serif Pro", serif;
    font-size: 1rem;
  }

  .transaction-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 50vh;
  }

  .transaction-options {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-content: center;
    gap: 1rem;
    padding: 1.5rem;
    width: 100%;
    background: rgba(182, 176, 159, 0.5);
    border: 1px solid #000;
    box-sizing: border-box;
  }

  .transaction-options a {
    text-decoration: none;
  }

  .transaction {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 70px;
    padding: 0.4rem;
    border: 2px solid #000;
    border-radius: 10px;
    background: rgba(242, 242, 242, 0.85);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: transform 0.2s ease;
    box-sizing: border-box;
  }

  .transaction span {
    color: var(--text-color);
    text-align: center;
    font-family: "Source Serif 4", serif;
    font-weight: 600;
  }

  .transaction:hover {
    background: rgba(255, 255, 255, 0.95);
    transform: translateY(-3px);
  }

  .transaction:active {
    animation: clickPop 0.2s ease;
  }

  @keyframes clickPop {
    0% {
      transform: scale(1);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
    50% {
      transform: scale(0.94);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
  }

  .action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    width: 100%;
    box-sizing: border-box;
  }

  #autoFillForm {
    background: transparent;
    border: 0;
  }

  .proceed {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
    border: 2px solid #000;
    border-radius: 10px;
    background: rgba(255, 178, 0, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  .proceed span {
    color: var(--text-color);
    font-family: "Source Serif 4", serif;
    font-size: 1rem;
    font-weight: 600;
  }
}

@media screen and (min-width: 768px) {
  #mainContainer {
    padding: 3.25rem;
  }

  .sub-container {
    border-radius: 14px;
  }

  .sector-plate {
    width: 90%;
  }

  .sector-plate span {
    font-size: 30px;
  }

  .transaction-options {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .transaction-options {
    min-width: 720px;
    width: 80%;
    min-height: 40vh;
  }
}
