<div class="logo-area">
  <img src="../assets/icons/page-logo.svg" alt="Logo" />
  <a href="./index.html">Biringan Doctrax</a>
</div>
<div class="nav-action-buttons">
  <div style="display: flex; flex-direction: row; gap: 10px">
    <span id="accountName"></span>
    <img src="../../../assets/icons/user-2.svg" alt="Account" />
  </div>
  <button>
    <img src="../../../assets/icons/bell.svg" alt="Notification" />
  </button>
  <button>
    <img src="../../../assets/icons/menu-hamburger.svg" alt="Menu" />
  </button>
</div>
