<div class="logo-area">
  <img src="../assets/icons/page-logo.svg" alt="Logo" />
  <a href="../index.html">Biringan Doctrax</a>
</div>
<div class="nav-tabs">
  <a href="../portal.html">
    <div class="action-buttons">
      <span>Log In</span>
    </div></a
  >
  <a href="../index.html">
    <div class="action-buttons">
      <span>Search</span>
    </div></a
  >
  <a href="../home.html">
    <div class="action-buttons">
      <span>Home</span>
    </div>
  </a>
  <a href="../about.html">
    <div class="action-buttons"><span>About</span></div></a
  >
</div>
<div class="nav-action-buttons">
  <a id="toggleMenu">
    <div class="menu-button">
      <img src="../assets/icons/menu-hamburger.svg" alt="Sidebar Menu" />
    </div>
  </a>
  <div class="menu-window" id="menu">
    <a href="../portal.html"><span>Log In</span></a>
    <a href="../index.html"><span>Search</span></a>
    <a href="../home.html"><span>Home</span></a>
    <a href="../about.html"><span>About</span></a>
  </div>
</div>
